{% extends "painel.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="item"><a href="{% url 'usuarios:edit_password' %}">Editar Senha</a></li>
{% endblock %}

{% block dashboard_content %}

<form class="editar_user" action = "{% url 'usuarios:edit_password' %}" method="post">
    {% csrf_token %}

    <div class="wrap-input100 validate-input">
        <span class="span">Senha antiga:</span></br> <input class="input100" type="password" name="old_password" id = "old_password">
    </div>

    <div class="wrap-input100 validate-input">
        <span class="span">Nova Senha:</span></br> <input class="input100" type="password" name="new_password1" id = "new_password1">
    </div>

    <div class="wrap-input100 validate-input">
        <span class="span">Confirmação da nova senha:</span></br> <input class="input100" type="password" name="new_password2" id = "new_password2">
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            Alterar Senha
        </button>
    </div>
</form>

{% if success %}
<br/><span class="aviso-alteracao-senha">Sua senha foi alterada com sucesso!</span>
{% endif %}

{% endblock %}