{% extends 'base.html' %}
{% block content %}
<body>
	<div class="lista-alunos"> <!-- imprimir alunos presente na lista alunos-->
		<h2>Lista de Alunos:</h2>
		{% if alunos is null %}
		<p>não foi encontrado alunos no sistema</p>
		{% else %}
		<div id="listaAlunos">
			{% for aluno in alunos %}
			<table>
				<tr>
					<td class="nomeAlunos">
						<a href="{% url 'aluno:detalhes' pk=aluno.pk %}"> {{ aluno.nome }}</a>
					</td>
				</tr>
			</table>    
			{% endfor %}
		</div>
		{% endif %}
	</div>
</body>
{% endblock %}